<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<table>
	<tr>
		<%= @index_page.title rescue "aqui va el titulo" %>
		<hr>
		<%= @index_page.description1 rescue "aqui va el titulo" %>
		<hr>
		<%= @index_page.description2 rescue "aqui va el titulo" %>
		<hr>
	</tr>
</table>


