

<table>
	<tr>
		<center><h1><%= @index_page.title rescue "aqui va el titulo" %></h1></center>
		<hr>
		<%= @index_page.description1 rescue "descripcion 1" %>
		<hr>
		<%= @index_page.description2 rescue "descripcion 2" %>
		<hr>
	</tr>
</table>


