<div class="page-header">
	<h1><strong>En esta seccion veremos la lista de unidades que estaran disponibles para ser estudiadas</strong></h1> <br>
</div>
<dl class="dl-horizontal">
	<% @units.each do |unit| %>
		<dt>
			<strong>Unidad</strong>
		</dt>
		<dd><%= unit.title rescue '' %></dd>
		<hr>
	<% end %>
</dl>