<ol>
	<div class="has_many">
		<li class="input">
			<fieldset class="inputs  has_many_fields">
				<ol>
					<li class="select input optional">
						<%= f.input :text_question %></br></br>
					</li>
					<%= f.hidden_field :_destroy, :class =>  "remove" %>
					<%= link_to "Remove", '#', class: "remove_fields button" %>
				</ol>
			</fieldset>
		</li>
	</div>
</ol>